body {
    font-family: 'Your Romantic Font', cursive;
    background-color: #ffc0cb; /* Pink background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: #880000; /* Darker color for text */
}

.container {
    text-align: center;
}

.timer {
    font-size: 2em; /* Adjusted font size */
    margin-top: 10px; /* Adjusted margin */
}

.timer span {
    margin: 0 5px; /* Adjusted spacing */
}

.heart-container {
    margin-top: 20px;
}

.heart {
    width: 50px;
    height: 50px;
    background-color: red;
    transform: translate(-50%, -50%) rotate(-45deg);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.heart::before,
.heart::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: rotate(45deg);
    transition: background-color 0.3s ease-in-out;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -25px;
}

.heart.clicked::before,
.heart.clicked::after {
    background-color: #ff6666; /* Lighter red */
}

.hidden {
    display: none;
    margin-top: 20px;
}

#message {
    font-size: 1.2em;
}
