body {
    font-family: 'Your Romantic Font', cursive;
    background-color: #ffc0cb; /* Pink background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh; /* Increased height for demonstration */
    margin: 0;
    color: #880000; /* Darkesr color for text */
    overflow: hidden; /* Hide overflow to prevent scroll bar */
}

.container {
    text-align: center;
    margin-top: 20vh; /* Adjusted margin to start at the middle of the screen */
    transform: translateY(-50%); /* Center the container */
    font-size: 1.5em;
}

.timer {
    font-size: 1.5em; /* Adjusted font size */
    margin-top: 10px; /* Adjusted margin */
}

.timer span {
    margin: 0 5px; /* Adjusted spacing */
}

@keyframes heart {

    0%{
        transform: rotate(-45deg) scale(1.50);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(1.50);
    }
}

@keyframes glow {
    0%, 100% {
        box-shadow: -10px 10px 90px #f9003e; /* Increased shadow values */
    }
    50% {
        box-shadow: none;
    }
}

@keyframes beat {
    0%, 100% {
        transform: rotate(45deg) scale(1.07);
    }
    50% {
        transform: rotate(45deg) scale(1);
    }
}

.heart-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.heart {
    width: 70px;
    height: 70px;
    background-color: rgb(255, 0, 85);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transform: rotate(45deg); 
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: glow 0.6s linear infinite
}

.heart::before,
.heart::after {
    content: '';
    width: 70px;
    height: 70px;
    background-color: rgb(255, 0, 85);
    border-radius: 50%;
    position: absolute;
    transform: rotate(45deg); 
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: glow 0.6s linear infinite
    
}

.heart::before {
    top: -35px;
    left: 0;
    transform: rotate(45deg); 
}

.heart::after {
    top: 0;
    left: -35px;
    transform: rotate(45deg); 
}

.hidden {
    display: none;
    margin-top: 20px;
}

#message {
    font-size: 1.2em;
}

.popup {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out;
}

.heart.clicked {
    opacity: 0.7; /* Adjusted opacity when clicked */
    animation: beat 0.3s ease-in-out; /* Added beat animation */
}

/* Add the following style to the .heart class */
.heart.clicked::before,
.heart.clicked::after {
    animation: none; /* Stop the glow animation when clicked */
}

.katherine {
    cursor: pointer;
    text-decoration: underline; /* Optional: Add underline for visual indication of a link */
}